banner {{ netpilot_banner.type }} {{ netpilot_banner.delimiter }}
======================================================================
{{ netpilot_banner.title }}
======================================================================
Organization: {{ netpilot_banner.organization }}
Contact:      {{ netpilot_banner.contact }}
Warning:      {{ netpilot_banner.warning }}
======================================================================
{{ netpilot_banner.delimiter }}
