{% for intf in netpilot_interfaces %}
interface {{ intf.name }}
 description {{ intf.description }}

{% if intf.ip_address is defined and intf.subnet_mask is defined %}
 ip address {{ intf.ip_address }} {{ intf.subnet_mask }}
{% endif %}

{% if intf.enabled | default(true) %}
 no shutdown
{% else %}
 shutdown
{% endif %}

!
{% endfor %}